/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
.home .hero img
  max-width 450px!important

html
  background-color #293243!important

.custom-block.warning
  background-color #887f54!important

.custom-block.tip
  background-color #697179!important
